.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width:50%;
  margin:auto;
  text-align:center;
  background-color:lightgrey;
}

textarea {
  width:100%;
  text-align: left;
  margin:auto;
  padding-bottom:300px;
}

#preview {
  margin:auto;
  padding-bottom:300px;
  background-color:white;
}

.scrollable-div {
  width:100%;
  height: 150px;
  overflow: auto; /* This adds the scroll bar */
  border: 1px solid black;
}

#textareabar {
  display:block;
  width:100%;
  text-align:left;
  height:25px;
  margin:auto;
  background-color:green;
  border:1px solid black;
  padding: 2px;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#bar-label {
  padding-left:20px;
}

#textarea-container {
  padding-top:20px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
  width:75%;
  text-align: left;
  margin:auto;
}

#markdown-container {
  padding-top: 20px;
  width:90%;
  text-align: left;
  margin:auto;
}

#markdown-bar {
  display:block;
  width:100%;
  text-align:left;
  height:25px;
  margin:auto;
  background-color: lightblue;
  border:1px solid black;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

a.linkedin:visited {
  color:blue;
}

a.linkedin:hover {
  color: green;
}
